.input {
    position: relative;

}
.input .p_icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 20px;
    cursor: pointer;
}

.p_icon img {
    width: 100%;
}